nav { position: relative; }
nav ul ul { position: absolute; 
background-color: #5564a0;
padding: 0; 
text-align: left;
display: none;}
nav ul ul li { border: 1px solid #00005D;
display: block;
width: 8em;
padding-left: 1em;
margin-left: 0; }
nav li:hover ul { display: block; }