header { background-color: #d4d4d4;
    background-position: middle;
    background-repeat: no-repeat;
    height: 150px;
}

#wrapper { width: 80%;
     margin-left: auto;
     margin-right: auto;
     background-color: #ffffff;
     min-width: 1000px;
     max-width: 1080px;
     height: auto;
     min-height: 550;
     max-height: 600;
}

nav { 
text-align: center;
font-weight: bold;
padding: 1em;
background-color: #000000 }

nav a { 
text-decoration: none; 
color: white;
 font-family: Verdana, Arial, sans-serif;
 font-size:31.5px;}

body { background-color: #0d1bd3;
  color: #000000;
  font-family: Verdana, Arial, sans-serif;
}

header { background-color: #0d1bd3;
    background-image: url(Lightning\ banner.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30em;
    height: 300px;
    width: 1080px; }

a { text-decoration: none;
text-align: center;
color: #000000;}

#banner {
width: 100%;
height: auto;
}
footer { background-color: black;
   color: white;
  font-size: small;
   font-style: italic;
   text-align: center;
   padding: 1em;}
figure.item {
/* To correctly align image, regardless of content height: */
vertical-align: top;
display: left;
/* To horizontally center images and caption */
text-align: center;
/* The width of the container also implies margin around the images. */
width: 120px;
}
figure.aligntextright { padding-left: 0.1em;
}
form { background-color:#eaeaea;
font-family: Arial, sans-serif;
  padding: 10px; min-width: 400px;}
label { float: left;
 width: 150px; 
   clear: left;
 text-align: right; 
 padding-right: 10px;
 margin-top: 10px; }
input, textarea { margin-top: 10px; 
             display: block; } 
#mySubmit { margin-left: 160px; }
